[Unit]
Description=doremi Wakeword Daemon
After=sound.target

[Service]
Type=simple
WorkingDirectory=/opt/doremi
ExecStart=/opt/doremi/.venv/bin/python -m doremi_daemon.main -c configs/doremi.yml
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
User=%i

[Install]
WantedBy=default.target
